.searchContainer {
  display: flex;
  align-items: center;
  height: rem(60px);
  border-radius: rem(15px);
  box-shadow: 0 rem(16px) rem(30px) rem(-10px) rgba(70, 96, 187, 0.2);
  margin-bottom: 16px;
  background-color: light-dark(#FFF, #1E2A47);
  flex: 1;

    .textInput {
      font-size: rem(13px);
      color: light-dark(#4B6A9B, #FFF);
      flex: 1;
    }

    .input::placeholder {
      color: light-dark(#4B6A9B, #FFF);
    }
    
    .textInputButton {
      background-color: #0079FF;
      font-size: rem(14px);
      font-weight: bold;
      height: rem(46px);
      width: rem(84px);
      margin-right: rem(8px);
      border-radius: rem(10px);
    }
}

@media (min-width: $mantine-breakpoint-sm) {
  .searchContainer {
    height: rem(70px);
    margin-bottom: 24px;
    padding: 0 rem(10px);

      .input {
        font-size: rem(18px);
      }

      .input::placeholder {
        font-size: rem(18px);
        padding-left: 24px;
      }

      .textInputButton {
        font-size: rem(16px);
        height: rem(50px);
        width: rem(106px);
        margin-right: 0;
      }
  }
}