.notificationContainer {
  position: fixed;
  top: rem(20px);
}

.devFinderContainer {
  max-width: rem(328px);
}

@media (min-width: $mantine-breakpoint-sm) {
  .devFinderContainer {
    max-width: rem(574px);
  }
}

@media (min-width: $mantine-breakpoint-md) {
  .devFinderContainer {
    max-width: rem(730px);
  }
}